<% provide(:title, "Programmes") %>
<div class="row bg-main">
  <div class="col-xs-12">
    <div class="page-title">
    <h2><span>Programmes</span></h2>
    </div>  
  </div>
</div>
<div class="row margin-top">
  <div class="col-xs-12">
    <h3 class="heading">We teach the English, Mathematics and Science subjects from the years of Key Stage 1 up to A Levels. We strictly adhere to the national curriculum and update our material accordingly</h3>
  </div>
  <div class="col-xs-12">
    <h5>Our tutors help our students understand the importance of exam technique and help comprehend what examiners are looking for in answers. We do this by covering past-papers in all tiers and in making sure students have a thorough understanding of the content</h5>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-12 col-md-6 center">
    <div class="content">
      <h3 class="heading">Key Stages 1-2</h3>
      <h5>You can expect your child to cover reading, punctuation, grammar and phonics checks.</h5>
      <h5>For Mathematics, we will help your child to understand place values, adding, subtracting, multiplying and dividing numbers, fractions and basic geometry.</h5> 
      <h5>Areas covered in science include and are not limited to living things, plants, everyday materials and being able to work scientifically</h5>
      <h5>We further have a <span class="eleven">11+</span> scheme, helping your child with their verbal and non-verbal reasoning skills</h5>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 center">
    <%= image_tag('globes.jpg', alt: 'globe', class: 'globes') %>
  </div>
</div>
<div class="row center space-even">
  <div class="col-xs-12 col-lg-6">
    <i class="fa fa-info fa-2x" aria-hidden="true"></i>
  </div>
  <div class="col-xs-12 col-lg-6">
    <h3>Lessons last 2 hours per subject</h3>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-12 col-md-6 center">
    <%= image_tag('classroom.jpg', alt: 'classroom', class: 'classroom') %>
  </div>
  <div class="col-sm-12 col-md-6 center">
    <div class="content">
      <h3 class="heading">Key Stage 3</h3>
      <h5>Students are assisted with building their vocabulary, making inferences and referring to evidence in text. They are encouraged to consolidate and improve their knowledge of grammar and vocabulary.</h5>
      <h5>In Mathematics, we ensure that students become fluent with the fundamentals of maths, to be able to reason and solve problems mathematically.</h5>
      <h5>Students are taught to develop their scientific knowledge and conceptual understanding of the nature, processes and methods of science.</h5>
      <h5></h5>
    </div>
  </div>
</div>
<div class="row space-even">
  <div class="col-xs-12 col-lg-6">
    <i class="fa fa-info fa-2x" aria-hidden="true"></i>
  </div>
  <div class="col-xs-12 col-lg-6">
    <h3>Lessons last 2 hours per subject</h3>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-12 col-md-6 center">
    <div class="content">
      <h3 class="heading">G.C.S.E's</h3>
      <h5>In English Language and Literature, students are informed on how to develop their essay writing skills, to reading and evaluating text critically, and comprehending linguistic conventions. Students are shown how to edit, revise and proof-read effectively.</h5> 
      <h5>In Mathematics, students practice improving their understanding of calculus, statistics and geometry.</h5>
      <h5>We cover material for Double and Triple Science in Biology, Chemistry and Physics across all examining boards.</h5>
    </div>
  </div>
  <div class="col-sm-12 col-md-6 center">
    <%= image_tag('maths-pic.jpg', alt: 'maths', class: 'maths') %>
  </div>
</div>
<div class="row space-even">
  <div class="col-xs-12 col-lg-6">
    <i class="fa fa-info fa-2x" aria-hidden="true"></i>
  </div>
  <div class="col-xs-6 col-lg-6">
    <h3>Lessons last 4 hours per subject</h3>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-sm-12 col-md-6 center">
    <%= image_tag('notepad.jpg', alt: 'notepad', class: 'notepad') %>
  </div>
  <div class="col-sm-12 col-md-6 center">
    <div class="content">
      <h3 class="heading">A Levels</h3>
      <h5>We have incorporated the new specifications for Mathematics, Biology, Chemistry & Physics. All our tutors are thoroughly experienced and accomodating to students' needs. Class sizes are small to optimise learning and to increase interaction.</h5>
    </div>
  </div>
</div>
<div class="row space-even">
  <div class="col-xs-12 col-lg-6">
    <i class="fa fa-info fa-2x" aria-hidden="true"></i>
  </div>
  <div class="col-xs-12 col-lg-6">
    <h3>Lessons last 2 hours per subject</h3>
  </div>
</div>
<hr>
<p style="color: silver;">We require all new admissions to complete an assessment based on their subject of study. All books and past-papers (G.C.S.E onwards) are provided as part of the package. We can also accomodate students sitting as private candidates for their G.C.S.E exams. One to one tuition is also available. Please <span><%= link_to new_contact_path do %>contact<% end %></span> us for more information.</p>       
