<header>
  <%= image_tag('logo.png', alt: 'logo', class: 'small_device_image') %>
  <nav class="site-nav">
    <ul class="menu">
      <li class="logo">
        <%= image_tag('logo.png', alt: 'logo', class: 'large_device_image') %>
      </li>
      <li>
        <%= link_to root_path do %>
          <h6 class="navbar-menu-list">HOME</h6>
        <% end %>
      </li>
      <li>
        <%= link_to "/pages/programmes" do %>
          <h6 class="navbar-menu-list">PROGRAMMES</h6>
        <% end %>
      </li>
      <li>
        <%= link_to "/pages/about" do %>
          <h6 class="navbar-menu-list">ABOUT</h6>
        <% end %>
      </li>
      <li>
        <%= link_to new_contact_path do %>
          <h6 class="navbar-menu-list">CONTACT</h6>
        <% end %>
      </li>
    </ul>
  </nav>

  <div class="menu-toggle">
    <div class="hamburger"></div>
  </div>
</header>